body {
    background-color: #11181c;
    color: #aaaaaa;
    padding: 20px;
}

pre {
    font-size: 16;
}

.bsky { background-color: #0085ff; }
.twitch { background-color: #9146ff; }
.kofi { background-color: #FF6433; }
.cashapp { background-color: #00cf31; }

.social {
    text-decoration: none;
    color: #ffffff;
    display: inline-flex;
    height: 40px;
    overflow: hidden;
    border-radius: 20px;
}

.social i {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;
    background-color: rgba(0,0,0,0.1);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.social span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    font-weight: bold;
    font-size: 14px;
}
.social:hover i{
	background-color: rgba(0,0,0,0.2);
    transition: all 0.2s;
}